:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

.leaflet-container {
  background-color: whitesmoke;
}

.horizontal {
  /* background-color: whitesmoke;
  padding: 1%;
  border-radius: 20px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.map {
  
  align-items: center;
  grid-column: 3 / span 7;
}

#mapid {
  height: 90vh;
}

.donut-text {
  font-weight: bold;
}

.left {
  grid-column: 1 / span 2 ;
}
.right {
  grid-column: 10 / span 3;
}

.container {
  background-color: whitesmoke;
  color: #242424;
}

.chart {
  align-items: center;
}


/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}